NEXT_PUBLIC_APP_ID=giving-universe
# NEXT_PUBLIC_APP_ENV=development
# NEXT_PUBLIC_APP_ENV=staging
NEXT_PUBLIC_APP_ENV=production

NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=XXX

# Blockchain env vars
NEXT_PUBLIC_NFT_CODE='GIVE'
NEXT_PUBLIC_NFT_ISSUER='GXXX'

MAILGUN_API_KEY=XXX
OFFICIAL_CFCE_API_KEY=XXX
CFCE_REGISTRY_API_URL=XXX
CFCE_REGISTRY_API_KEY=XXX
XINFIN_WALLET_SECRET=SXXX

IPFS_API_KEY=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
IPFS_API_SECRET=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

ENABLE_ANCHAIN='false'
ENABLE_GLOBALID='false'

MOBULA_API_KEY=XXX